.search
{
    background: #353535;
    display: flex;
    justify-content: space-evenly;
}

.search p{
    color: #fff;
    font-size: 1.5vw;
    padding: 1%;
    margin: 0;
}

button{
    background: #000000;
    color: #fff;
    border: 1px solid #fff;
    padding: 0% 3%;
    margin: 1%;
}